div.pulltext {
    border-left: 5px solid $gray-bbb;
    float: right;
    font-size: 120%;
    font-style: italic;
    left: 30px;
    margin-bottom: 1.5em;
    padding: 15px;
    position: relative;
    top: 20px;
    width: 360px;
    color: $gray-666;
}